<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <div class="main-content">
           
            {{>header}}
            <p>
                This website is a Project from the NodeJS Course from Andrew Mead found on Udemy.
                The website was created after that template.
                The course can be found under the following Link: <a href="https://www.udemy.com/share/101WGiBEoYcVtVQX8=/">NodeJS Course</a>                
            </p>

            <p>It uses Data from mapbox.com and darksky.net! The Idea is to fatch the weather from the entered Location.</p>
            <img class="portrait" src = "\img\th6qoh02zon21.jpg">

        </div>
        
        {{>footer}}

    </body>
</html>